extends layout

block content
  div.container.bg-primary(style='padding:2rem;')
    h1.display-1.text-center About Us  
    div.container.bg-white
      h2.display-1.text-center.text-info Who Are We
      p.text-center.text-dark
        |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        br
        | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
        br
        | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        br
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
        br
        |qui officia deserunt mollit anim id est laborum.z