extends layout

block content
  div.jumbotron.jumbotron-fluid(style='padding:3rem;')
    div.container
      h1.display-4 Hello This is Me
      p.lead 
        |This is Me ,it's all about me so sit down and hear about because this is me.
        br
        | I wanter to say you but it's forbiden because it's all about me  .

      p.lead
        a.btn.btn-primary.btn.lg(href='#' role='button') Learn More

  div.container
    div.row
      div.col-md-4
        h2 About Us
        p Donet is a manufactured comp to solve all your issue. We are well known in the business for the thing that you know plus
        |our customer are always showing us great satifaction once finished we will be ther to unforgivable reason the price is to pay.
        br
        a.btn.btn-primary(href='/about') View Details
      
      div.col-md-4
        h2 Our Products
        p Donet is a manufactured comp to solve all your issue. We are well known in the business for the thing that you know plus
        |our customer are always showing us great satifaction once finished we will be ther to unforgivable reason the price is to pay.
        br
        a.btn.btn-primary(href='#') View Details
      
      div.col-md-4
        h2 Get in Touch
        p Donet is a manufactured comp to solve all your issue. We are well known in the business for the thing that you know plus
        |our customer are always showing us great satifaction once finished we will be ther to unforgivable reason the price is to pay.
        br
        a.btn.btn-primary(href='contact') View Details
      